<div class="left">
    <div class="leftTitle">
        <h4>管理后台</h4>
    </div>
    <ul>
        <li>
						<span class="first icon_index">
							<em></em>
							<strong>第一级</strong>
							<i></i>
						</span>
            <div>
							<span>
								<strong >第二级</strong>
								<i></i>
							</span>
                <span>
								<strong >第二级</strong>
								<i></i>
							</span>
            </div>
        </li>
        <li>
						<span class="first icon_index">
							<em></em>
							<strong>第一级</strong>
							<i></i>
						</span>
            <div>
							<span>
								<strong >第二级</strong>
								<i></i>
							</span>
                <span>
								<strong >第二级</strong>
								<i></i>
							</span>
            </div>
        </li>
        <li>
						<span class="first icon_index">
							<em></em>
							<strong>第一级</strong>
							<i></i>
						</span>
            <div>
							<span>
								<strong >第二级</strong>
								<i></i>
							</span>
                <span>
								<strong >第二级</strong>
								<i></i>
							</span>
            </div>
        </li>
    </ul>
</div>