@keyframes hideLeft
{
	0%   {left:0px;}
	100% {left:-220px;}
}
@keyframes showLeft
{
	0%   {left:0px;}
	100% {left:0px;}
}
@keyframes showContent
{
	0%   {left:240px;}
	100% {left:3%;}
}
@keyframes showHeader
{
	0%   {left:0px;}
	100% {left: -215px;}
}